<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Contact Us</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
            <a href="/feedback">Feedback</a>
        </nav>
    </header>
    <main>
        <h2>Para sa mga katanungan, pag-book, o espesyal na kahilingan, maaari kaming makontak
            <br>sa mga sumusunod na detalye. Ang aming team ay handang tumulong sa iyo 24/7.</h2>
            <br>
            <br>
            <h3>Hotel Address / Lokasyon ng Hotel:
            <br>
            Masipit, Calapan City, Philippines
            <br>
            <br>
            Phone Numbers / Telepono:
            <br>
            Landline: +63 (2) 1234 5678
            <br>
            Mobile: +63 917 123 4567
            <br>
            <br>
            Email Address / Email:
            <br>
            Jfilipinohotel@gmail.com
            <br>
            <br>
            Website / Websayt:
            <br>
            www.Jfilipinohotel.com</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
    </main>
</body>
</html>
